@import "tailwindcss";

:root {
  --primary-color: #8F00FF;
  --secondary-color: #DA00FF;
}

.sideList::-webkit-scrollbar{
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.scrollBar::-webkit-scrollbar{
  display: none;
}